<!DOCTYPE html>
<html>
<% include pages/common/head.html %>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <% include pages/common/header.html %>
    <!-- Left side column. contains the logo and sidebar -->
    <% include pages/common/aside.html %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <% include pages/index.html %>
    </div>
    <!-- /.content-wrapper -->
    <% include pages/common/footer.html %>
    <!-- Control Sidebar -->
    <% include pages/common/right-aside.html %>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->

</div>
<!-- ./wrapper -->
<% include pages/common/script.html %>
<script src="/js/pages/dashboard.js"></script>
</body>
</html>
